@media screen and (min-width : 1025px){
  
  .container {
    width: 300%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
  }
    
  .panel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    position: relative;
    box-sizing: border-box;
    padding: 10vw;
    overflow: hidden;
    user-select: none;
  }
  
  .projects__number{
    position: relative;
    font-size: 8vw;
    font-weight: 900;
    font-family: "goku";
    background: linear-gradient(to right, #050505 50%, #151515 10%, #151515);
    background-size: 200%;
    background-clip: text;
    color: transparent;
    transition: 0.5s ease-out;
    z-index: 1000;
  }
  
  .projects__number span{
    background-image: linear-gradient(to bottom, #e9ea0c 55%, #14e97c);
    background-clip: text;
    color: transparent;
    font-size: 4vw;
  }
  
  .projects__video{
    position: absolute;
    width: 55vw;
    height: 60vh;
    aspect-ratio: 9/6 auto;
    filter: grayscale(1);
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
    overflow: hidden;
  }
  
  .projects__video video{
    width: 100%;
    height: 100%;
    z-index: 100;
    transform: scale(2);
  }
  
  
  .projects__video:hover{
    filter: grayscale(0)
  }
  
  .projects__photo__box{
    position: absolute;
    top:0;
    width: 57vw;
    height: 100vh;
    background-color: black;
  }
  
  .projects__photo__boxExit{
    position: absolute;
    width: 57vw;
    height: 80vh;
    background-color: black;
    bottom: -80vh;
  }

  .projects__container{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 11vw;
    bottom: 5vh;
  }
  
  .projects__title {
    position: relative;
    font-size: 5vw;
    line-height: 5vw;
    counter-increment: section;
    text-align: center;
    display: grid;
    gap: 2rem;
    z-index: 2;
    font-family: "MonumentExtended-Regular";
    font-weight: 600;
    -webkit-filter: drop-shadow(3px 3px #333);
  }
  
  .projects__title span{
    background-image: linear-gradient(to bottom, #e9ea0c, #14e97c);
    background-clip: text;
    color: transparent;
    padding: 5px 0;
  }
  
  .projects__title .char{
    opacity: 0;
  }
  
}
