.translationToggle{
    position: fixed;
    display: none;
    visibility: hidden;
    background-color: transparent;
    right: 1.6vw;
    font-size: 1vw;
    bottom:1.8vh;
    color: white!important;
    z-index: 1000;
    font-family: "Sk-Modernist-Bold";
}

.translationToggle div{
   cursor: pointer;
}

.translationToggle__separator{
    background: linear-gradient(#e9ea0c, #14e97c);
    margin: 0 5px;
    width: 2px;
}
