@media screen and (min-width : 1025px){
    .contact{
        margin-top: 20vh;
        position: relative;
        margin-bottom: 20vh;
    }
    .contact__map{
        height: auto;
        overflow: hidden;
        align-items: center;
        margin-bottom: 100px;
    }
    .map{
        position: relative;
        width: calc(100% -300px);
        height:  600px;
        margin-right:300px;
        z-index: 0;
        overflow: hidden;
    }
    
    .map__box{
        position: absolute;
        top: 0;
        width: 100%;
        height: 600px;
        margin-right:300px;
        z-index: 1;
        background-color: black;
      
    }
    
    
    .letters {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 700px;
        height: 700px;
        top: -50px;
        bottom: 0;
        right: 80px;
        z-index: 1;
        user-select: none;
        
    }
    
    .letters i {
        position: relative;
        float: left;
        display: block;
        width: 90px;
        height: 90px;
        font-family: "Goku";
        font-family: "Helvetica Now Display DW",sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 90px;
        line-height: 90px;
        color: #b6b6b6 ;
        /* background: linear-gradient(180deg, #e9ea0c 5%, 14e97c# 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; */
        text-align: center;
        margin: 50px 35px;
        opacity: 0;
        user-select: none;
    }
    
    .letters__top i:nth-child(1),.letters__top i:nth-child(2), .letters__top i:nth-child(3), .letters__top i:nth-child(4){
        background: linear-gradient(180deg, #e9ea0c 5%, #c2ea20 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .letters__top i:nth-child(5),.letters__top i:nth-child(6), .letters__top i:nth-child(7), .letters__top i:nth-child(8){
        background: linear-gradient(180deg, #beea23 5%, #9ae935 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .letters__bottom i:nth-child(1),.letters__bottom i:nth-child(2), .letters__bottom i:nth-child(3), .letters__bottom i:nth-child(4){
        background: linear-gradient(180deg, #94e938 5%, #79ea48 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .letters__bottom i:nth-child(5),.letters__bottom i:nth-child(6), .letters__bottom i:nth-child(7), .letters__bottom i:nth-child(8){
        background: linear-gradient(180deg, #79ea48 5%, #3ce966 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .contact__text{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 90vw;
        color: white;
        font-family: "Sk-Modernist-Bold";
        font-size: 1.1vw;
    }

    .contact__arrow{
        position: absolute;
        width: 6.5vw;
        height: auto;
        left: 10vw;
        top: 15px;
    }
}
