@media screen and (max-width: 1024px) {
    .contact{
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    .contact__map{
        margin-top: 50px;
        overflow: hidden;
        align-items: center;
    }
    .map{
        position: relative;
        width: 85%;
        height: 200px;
        z-index: 0;
        overflow: hidden;
    }
    
    .map__box{
        position: absolute;
        top: 49px;
        width: 100%;
        height: 210px;
        z-index: 1;
        background-color: black;
    }
    
    
    .letters {
        display: block;
        position: absolute;
        width: 250px;
        height: 300px;
        top: 30px;
        right: 0px;
        z-index: 1;
        user-select: none;
    }
    
    .letters i {
        position: relative;
        float: left;
        display: block;
        width: 55px;
        height: 70px;
        font-family: "Goku";
        font-family: "Helvetica Now Display DW",sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 2rem;
        line-height: 2rem;
        margin: 0;
        color: #b6b6b6 ;
        text-align: center;
        opacity: 0;
        user-select: none;
    }
    
    .letters__top i:nth-child(1),.letters__top i:nth-child(2), .letters__top i:nth-child(3), .letters__top i:nth-child(4){
        background: linear-gradient(180deg, #e9ea0c 5%, #c2ea20 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .letters__top i:nth-child(5),.letters__top i:nth-child(6), .letters__top i:nth-child(7), .letters__top i:nth-child(8){
        background: linear-gradient(180deg, #beea23 5%, #9ae935 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .letters__bottom i:nth-child(1),.letters__bottom i:nth-child(2), .letters__bottom i:nth-child(3), .letters__bottom i:nth-child(4){
        background: linear-gradient(180deg, #94e938 5%, #79ea48 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .letters__bottom i:nth-child(5),.letters__bottom i:nth-child(6), .letters__bottom i:nth-child(7), .letters__bottom i:nth-child(8){
        background: linear-gradient(180deg, #79ea48 5%, #3ce966 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .contact__text{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 90vw;
        margin: 50px 20px;
        color: white;
        font-family: "Sk-Modernist-Bold";
    }
}   
