.social{
    display: flex;
    position: fixed;
    left: 1.0416666666666667vw;
    bottom:1.0741138560687433vh;
    z-index: 10000;
    padding: 0;
}

.social div{
    margin: 0 15px;
}

.social svg{
    fill:#e3e3e3;
    min-width: 30px;
    min-height: 30px;
}

.social rect{
    fill:#e3e3e3;
}

.social a:hover svg{
    fill: black;
}

path { transition: fill .2s ease; }
