@media screen and (max-width : 1024px){
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    margin-bottom: 10vh;
  }
    
  .panel {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
  }

  .projects__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding : 3vh 0 5vh 5vw;
  }

  .projects__title {
    position: relative;
    font-size: 8vw;
    z-index: 2;
    font-family: "MonumentExtended-Regular";
    font-weight: 600;
    -webkit-filter: drop-shadow(2px 1px #333);
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  
  .projects__title span{
    background-image: linear-gradient(to bottom, #e9ea0c, #14e97c);
    background-clip: text;
    color: transparent;
    display: inline-block;
  }
  
  .projects__title .char{
    opacity: 1;
  }
  
  .projects__number{
    font-size: 10vw;
    font-weight: 900;
    font-family: "goku";
    background: linear-gradient(to right, #050505 50%, rgb(93, 93, 93) 10%, rgb(93, 93, 93));
    background-size: 200%;
    background-clip: text;
    z-index: 2;
    color: transparent;
    transition: 0.5s ease-out;
    will-change: transform, opacity;
    overflow: hidden;
  }
  
  .projects__number span{
    background-image: linear-gradient(to bottom, #e9ea0c 55%, #14e97c);
    background-clip: text;
    color: transparent;
  }
  
  .projects__video{
    width: 90vw;
    max-height: 80svh;
    margin: auto;
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
    overflow: hidden;
  }
  
  .projects__video video{
    width: 100%;
    height: auto;
    aspect-ratio: 9/16;
    transform: scale(2);
  }
  
  
  .projects__video__box{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
  }
  
  .projects__video__boxExit{
    position: absolute;
    width: 100vw;
    height: 80vh;
    background-color: black;
    bottom: -80vh;
  }
}
  