@media screen and (max-width : 1024px){
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
  }
    
  .panel {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    box-sizing: border-box;
    padding: 50px;
    overflow: hidden;
  }

  .projects__container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left:8vw;
  }

  .projects__title {
    position: relative;
    font-size: 10vw;
    z-index: 2;
    font-family: "MonumentExtended-Regular";
    font-weight: 600;
    -webkit-filter: drop-shadow(2px 1px #333);
    bottom: -100px;
    padding: 0;
    margin: 0;
  }
  
  .projects__title span{
    background-image: linear-gradient(to bottom, #e9ea0c, #14e97c);
    background-clip: text;
    color: transparent;
  }
  
  .projects__title .char{
    opacity: 0;
  }
  
  .projects__number{
    font-size: 20vw;
    font-weight: 900;
    font-family: "goku";
    background: linear-gradient(to right, #1e1e1e 50%, #e9ea0c 2%, #14e97c);
    background-size: 200%;
    background-clip: text;
    color: transparent;
    transition: 0.5s ease-out;
    z-index: 80;
    -webkit-filter: drop-shadow(2px 1px #333);
    will-change: transform, opacity;
  }
  
  .projects__number span{
    background-image: linear-gradient(to bottom, #e9ea0c 55%, #14e97c);
    background-clip: text;
    color: transparent;
  }
  
  .projects__video{
    position: absolute;
    width: 85vw;
    max-height: 90vh;
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
    overflow: hidden;
  }
  
  .projects__video video{
    width: 100%;
    height: auto;
    aspect-ratio: 9/16;
    transform: scale(2);
  }
  
  
  .projects__video__box{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
  }
  
  .projects__video__boxExit{
    position: absolute;
    width: 100vw;
    height: 80vh;
    background-color: black;
    bottom: -80vh;
  }
}
  